.legend {
  padding: 1em;

  &__row {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 5px;

    margin-bottom: 5px;
  }

  &__image {
    width: 70%;
    justify-self: center;
    align-self: center;
  }

  &__title {
    justify-self: start;
    align-self: center;
  }
}
