<mat-stepper [orientation]="(stepperOrientation | async)!">
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
  <mat-step></mat-step>
</mat-stepper>
