<div id="map" leaflet
     [leafletOptions]="mapOptions"
     (leafletMapReady)="onMapReady($event)"
></div>

<div id="sidebar" class="leaflet-sidebar leaflet-control leaflet-sidebar-right leaflet-touch">
    <div class="leaflet-sidebar-tabs">
        <ul role="tablist">
            <li>
                <a href="#markers" role="tab"><mat-icon>place</mat-icon></a>
            </li>
        </ul>

        <ul role="tablist">
            <li>
                <a target="_blank" href="https://github.com/qFamouse/House-School-House" role="tab"><mat-icon svgIcon="github"></mat-icon></a>
            </li>
        </ul>
    </div>

    <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane active" id="markers">
            <div>
                <div class="leaflet-sidebar-close"><mat-icon>keyboard_arrow_right</mat-icon></div>
                <h1 class="leaflet-sidebar-header">Конструктор</h1>
            </div>
            <div class="custom-leaflet-sidebar-content">
                <app-marker *ngFor="let sign of signs"
                            [src]="sign.src"
                            [alt]="sign.signNumber"
                            [title]="sign.title"
                            [description]="sign.explanation"
                            (click)="drawSign(sign.src)"
                ></app-marker>
                <div></div>
            </div>
        </div>
    </div>
</div>
