<div id="map" leaflet
     [leafletOptions]="mapOptions"
     [leafletLayersControl]="controlLayersConfig"
     (leafletMapReady)="onMapReady($event)"
></div>

<div id="sidebar" class="leaflet-sidebar collapsed">
    <!-- Nav tabs -->
    <div class="leaflet-sidebar-tabs">
        <ul role="tablist"> <!-- top aligned tabs -->
            <li>
                <a href="#markers" role="tab"><mat-icon>place</mat-icon></a>
            </li>
        </ul>

        <ul role="tablist">
            <li>
                <a target="_blank" href="https://github.com/qFamouse/House-School-House" role="tab"><mat-icon svgIcon="github"></mat-icon></a>
            </li>
        </ul>
    </div>

    <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane" id="markers">
            <div class="leaflet-sidebar-close"><mat-icon>keyboard_arrow_right</mat-icon></div>
            <h1 class="leaflet-sidebar-header">Конструктор</h1>
        </div>
    </div>
</div>
