<div id="map" leaflet
     [leafletOptions]="mapOptions"
     (leafletMapReady)="onMapReady($event)"
     [leafletLayersControl]="controlLayersConfig"
     [leafletLayersControlOptions]="layersControlOptions"
></div>

<div id="sidebar" class="leaflet-sidebar collapsed">
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist">
      <li>
        <a href="#favourite-markers" role="tab"><mat-icon>grade</mat-icon></a>
      </li>

      <li>
        <a href="#all-markers" role="tab"><mat-icon>add_location</mat-icon></a>
      </li>

      <li>
        <a href="#legend" role="tab"><mat-icon>map</mat-icon></a>
      </li>
    </ul>

    <ul role="tablist">
      <li>
        <a target="_blank" href="https://github.com/qFamouse/House-School-House" role="tab"><mat-icon svgIcon="github"></mat-icon></a>
      </li>
    </ul>
  </div>

    <div class="leaflet-sidebar-content">

      <div class="leaflet-sidebar-pane" id="favourite-markers">
        <div class="custom-sidebar-pane-wrapper">
          <div>
            <div class="leaflet-sidebar-close"><mat-icon>keyboard_arrow_right</mat-icon></div>
            <h1 class="leaflet-sidebar-header">Избранное</h1>
          </div>
          <div class="custom-leaflet-sidebar-content">
            SOON
          </div>
        </div>
      </div>

      <div class="leaflet-sidebar-pane" id="all-markers">
        <div class="custom-sidebar-pane-wrapper">
          <div>
            <div class="leaflet-sidebar-close"><mat-icon>keyboard_arrow_right</mat-icon></div>
            <h1 class="leaflet-sidebar-header">Полный список</h1>
          </div>
            <cdk-virtual-scroll-viewport itemSize="80" minBufferPx="1050" maxBufferPx="1200" class="custom-leaflet-sidebar-content">
              <app-marker *cdkVirtualFor="let sign of signs"
                          [iconSrc]="assets.signs.compressed + '/' + sign.number + '.svg'"
                          [iconAlt]="sign.number"
                          [iconTitle]="sign.number"
                          [MarkerTitle]="sign.title"
                          [MarkerDescription]="sign.explanation"
                          (click)="drawSign(sign.number + '.svg', sign.title)"
                          (onLike)="addMarkerToFavourite(sign.id)"
              ></app-marker>
            </cdk-virtual-scroll-viewport>
        </div>
      </div>

      <div class="leaflet-sidebar-pane" id="legend">
        <div class="custom-sidebar-pane-wrapper">
          <div>
            <div class="leaflet-sidebar-close"><mat-icon>keyboard_arrow_right</mat-icon></div>
            <h1 class="leaflet-sidebar-header">Легенда</h1>
          </div>
          <div class="custom-leaflet-sidebar-content">
            <app-legend #legendRef></app-legend>
          </div>
          <div>
            <button class="download-button" mat-raised-button (click)="saveMapLegend()">
              <mat-icon>cloud_download</mat-icon>
              Скачать
            </button>
          </div>
        </div>
      </div>

    </div>
</div>
