/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-pm-icon-route {
  background-image: url("~src/assets/route.svg");
}

.cdk-overlay-container {
  // Map components has 1000 z-index, we need pull up sidebar tooltips
  z-index: 1050; // default z-index: 1000 (by indigo-ping template)
}
