<mat-form-field [formGroup]="psFormGroup" class="mat-form-field">
  <mat-label>{{psLabel}}</mat-label>
  <input matInput [formControlName]="psFormControlName" required>
  <mat-error *ngIf="abstractControl?.hasError('required')">
    Обязательно к заполнению
  </mat-error>

  <mat-error *ngIf="abstractControl?.hasError('minlength')">
    Минимальная длинна {{abstractControl?.getError('minlength').requiredLength}}
  </mat-error>
  <mat-error *ngIf="abstractControl?.hasError('maxlength')">
    Максимальная длинна {{abstractControl?.getError('maxlength').requiredLength}}
  </mat-error>

</mat-form-field>
